<footer class="site-footer">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42138624-1', 'auto');
    ga('send', 'pageview');

  </script>
<!--   <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
    </div>

  </div>
 -->
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/js/tour.js" type="text/javascript" charset="utf-8" async defer></script>
  <script>
  $(document).ready(function() {
      var path = window.location.pathname;
      if (path.indexOf("blog") > -1) {
          $("#blog").addClass('active');
      }
      if (path.indexOf("tour") > -1) {
          $("#tour").addClass('active');
      }
      if (path.indexOf("research") > -1) {
          $("#research").addClass('active');
      }
      if (path.indexOf("ru-blog") > -1) {
          $("#ru-blog").addClass('active');
      }
  });
  </script>
</footer>
