.post-list {
  .post-link {
    font-family: $additional-font-family;
  }
  margin: 20px 0;
  list-style: none inside none;
  li {
    font-size: 14px;
    margin-bottom: 3em;
  }
  h3 {
    margin-top: 10px;
    margin-left: -2px;
    a {
      color: #000;
    }
  }
  .img-circle {
    margin-top: 80px;
  }
}
.pager {
  font-family: $additional-font-family;
  font-size: 16px;
  a {
    color: #000;
  }
}