.landing {
  font-family: $additional-font-family;

  .header {
    position: inherit;
    font-size: 20px;
    border-bottom: solid 1px #E8E8E8;

    h1 {
      margin-top: 0;
      font-weight: 600;
    }
    .row {
      padding: 25px 0px 25px;
    }
    .meeting-cell {
      border-right: 2px solid #ccc;
      &.last {
        border-right: 0px;
      }
      h4 {
        margin-top: 14px;
      }
      h5 {
        margin-top: 16px;
      }
    }
    .invite-block {
      .btn-invite {
        margin: 20px;
        margin-bottom: 50px;
        font-weight: 300;
        font-size: 25px;
        color: #fff;
        background-color: transparent;
        width: 50%;
      }
    }
  }
  .hm-badge {
    z-index: 10;
    margin-top: -100px;
  }
  .about {
    font-size: 16px;
    margin-top: 30px;

    .social-info {
      font-size: 20px;
      margin-top: 30px;
      ul {
        margin-top: 10px;
        font-size: 20px;

        a {
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .desc {
      font-family: $base-font-family;
      font-size: 18px;
      margin-top: 30px;
    }
  }
}

