.landing {
  // font-family: $additional-font-family;
  h1 {
    margin-top: 20px;
  }
  h4 {
    margin-top: 30px;
  }
  .invite-block {
    border-bottom: 1px solid #ccc;
    .btn-invite {
      margin: 20px;
      margin-bottom: 50px;
      font-family: $additional-font-family;
      font-weight: 300;
      width: 50%;
    }
  }
}
