.landing {
  font-family: $additional-font-family;

  .header {
    color: #fff;
    background: url('/images/helsinki_landing_test.jpg');
    font-size: 20px;
    z-index: -1;
    h1 {
      margin-top: 0;
      font-weight: 600;
    }
    .row {
      padding: 100px 0px 50px;
    }
    .invite-block {
      .btn-invite {
        margin: 20px;
        margin-bottom: 50px;
        font-weight: 300;
        font-size: 25px;
        color: #fff;
        background-color: transparent;
        width: 50%;
      }
    }
  }
  .hm-badge {
    margin-top: -100px;
  }
  .about {
    font-size: 16px;

    .social-info {
      font-size: 20px;
      margin-top: 30px;
      ul {
        margin-top: 10px;
        font-size: 20px;

        a {
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .desc {
      font-family: $base-font-family;
      font-size: 18px;
      margin-top: 30px;
    }
  }
}

