.btn-tour {
  background-color: $brand-color;
  color: #fff;
  border: 1px #ccc solid;
  &:hover {
    background-color: darken($brand-color, 10%);
    border: 1px #ccc solid;
    color: #fff;
  }
  &:active {
    background-color: $brand-color;
    border: 1px #ccc solid;
    color: #fff;
  }
}

.tour-badge {
  margin-top: -30px;
  margin-bottom: -25px;
  position: relative;
  button {
    width: 300px;
    padding: 20px;
    font-weight: 100;
    font-size: 20px;
  }
}


.tour {
  .row {
    padding: 20px 0px 20px;
  }
  .col-md-4 {
    padding: 20px;
  }
  h1 {
    margin-top: 0;
  }
  .carousel-control {
    width: 45%;
  }
  font-family: $additional-font-family;
  .meetings {
    font-size: 16px;
    .meeting-cell {
      // border-bottom: 1px #ccc solid;
      img {
        border: 2px #ccc solid;
        margin-right: 10px;
        width: 110px;
        height: 110px;
      }
      .col-md-7 > span {
        font-size: 12px;
        color: #ccc;
        font-style: italic;
        font-family: $base-font-family;
      }
      .label {
        float: right;
        margin-right: 30px;
        display: inline-block;
      }
    }
    .invite-block {
      .btn-invite {
        margin: 20px;
        margin-bottom: 50px;
        font-weight: 300;
        font-size: 25px;
        color: #000;
        background-color: transparent;
        width: 50%;
      }
    }
  }
  .recommend {
    .social-info {
      span {
        font-size: 12px;
        font-family: $base-font-family;
        font-style: italic;
        color: #afafaf;
      }
    }
    .text {
      font-family: $base-font-family;
      padding-top: 20px;
      font-size: 18px;
      &:before {
        display: block;
        padding-left: 0px;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: #afafaf;
      }
    }
  }
  .ican {
    div {
      .col-md-8 {
        font-family: $base-font-family;
      }
      font-size: 18px;
    }
  }
}

.contact-form {
  .modal-content {
    border-top: 2px $brand-color solid;
    .modal-header, .modal-footer {
      font-family: $additional-font-family;
    }
  }
}