---
layout: default
---
{% if page.image %}
<div class="header">
  <div class="header-image"
    style="background-color: #{{page.image.background}}; background-image: url('{{ page.image.url }}');"></div>
  <div class="credits">
    {% if page.image.author %}
      <em>photo credits: <a title="{{ page.image.author }}"
        href="{{ page.image.author_site }}" target="_blank">{{ page.image.author }}</a>
      </em>
    {% endif %}
  </div>
</div>
<div>
</div>
{% endif %}
<div class="post">
  <div class="left-column">
  </div>
  <div class="right-column">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%-d %b %Y" }}</p>
    </header>

    <div class="chapter">
      <div class="content">
        <article class="post-content">
          {{ content }}
        </article>
        <nav>
          <ul class="pager">
            {% if page.previous %}
              <li class="previous"><a href="{{ page.previous.url }}">
                <span aria-hidden="true">&larr;</span> Previous</a>
              </li>
            {% else %}
              <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}
            {% if page.next %}
               <li class="next"><a href="{{ page.next.url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
               <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>

