---
layout: default
comments: true
---
{% if page.image %}
<div class="header">
  <div class="credits {{ page.image.light }}">
    {% if page.image.author %}
      photo by: <a title="{{ page.image.author }}"
        href="{{ page.image.author_site }}" target="_blank">{{ page.image.author }}</a>
    {% endif %}
  </div>
  <div class="header-image"
    style="background-color: #{{page.image.background}}; background-image: url('{{ page.image.url }}');"></div>
</div>
<div>
</div>
{% endif %}
<div class="post">
  <div class="left-column">
  </div>
  <div class="right-column">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%-d %b %Y" }}</p>
    </header>

    <div class="chapter">
      <div class="content">
        <article class="post-content">
          {{ content }}
        </article>
        <nav>
          <ul class="pager">
            {% if page.next %}
               <li class="previous"><a href="{{ page.next.url }}"><span aria-hidden="true">&larr;</span> Next</li>
            {% else %}
               <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Next</a></li>
            {% endif %}
            {% if page.previous %}
              <li class="next"><a href="{{ page.previous.url }}">
                Previous <span aria-hidden="true">&rarr;</a>
              </li>
            {% else %}
              <li class="next disabled"><a href="#">Previous <span aria-hidden="true">&rarr;</a></li>
            {% endif %}
          </ul>
        </nav>
        {% if page.comments %}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'changegeek';

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
            rel="nofollow">comments powered by Disqus.</a></noscript>
        {% endif %}
      </div>
    </div>
  </div>

</div>

